@model Projekt_Teknologji_dotNet.Models.Rezervimet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rezervimet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klient.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makinat.Modeli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makinat.Modeli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Rezervimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Rezervimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_kthimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_kthimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagesa_totale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagesa_totale)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
