@model Projekt_Teknologji_dotNet.Models.Makinat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="all-content">
    <div class="max-width-c">

<h2>Details</h2>

<div>
    <h4>Makinat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipi.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipi.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modeli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modeli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pershkrimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vit_Prodhimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vit_Prodhimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kosto1Dite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kosto1Dite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
    <a href="/Rezervimet/Create?makineId=@Model.ID">Rezervo</a>
</p>
</div>
    </div>
